version: '3.1'

services:

  # PostgreSQL database server
  psql:
    image: postgres
    ports:
      - 5432:5432
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: mudletrepo
      POSTGRES_USER: mudletrepo
      POSTGRES_PASSWORD: pleasechangeme
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./psql/pg_hba.conf:/etc/postgresql/postgresql.conf
      - ./data/pgdata:/pgdata
    restart: unless-stopped

  # Actual repository itself
  package-repo:
    build: .
    depends_on:
      - psql
    environment:
      - LAPIS_ENVIRONMENT=docker
      - SMTP_HOST
      - SMTP_PORT
      - SMTP_USERNAME
      - SMTP_PASSWORD
    volumes:
      - ./web:/var/www
      - ./data:/var/data
      - ./views:/usr/src/app/views
    ports:
      - 8080:8080
    restart: unless-stopped

volumes:
  postgres:
