name: Update website
on:
  push:
    branches: development
  pull_request:


jobs:
  update-website:
    runs-on: ubuntu-latest
    if: github.repository == 'Mudlet/mudlet-package-repo'

    steps:
    - uses: actions/checkout@v2

    - name: Build & push new image
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_LOGIN }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: mudlet/mudlet-package-repo
        tag_with_ref: true
        add_git_labels: true

    - name: Delete old cluster deployment
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        KUBECTL_VERSION: "1.19"
      with:
        args: delete deployment package-repo

    - name: Deploy new cluster
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        KUBECTL_VERSION: "1.19"
      with:
        args: apply -f kube

    - name: Verify deployment
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        KUBECTL_VERSION: "1.19"
      with:
        args: '"rollout status deployment/package-repo"'
